html
  head
    title= 'Mongodb Blog'
  body
    h2= 'Welcome to BB!'
    form(action='/login', method='POST')
        div= 'Login'
        input(type='text', name='username', value='')
        div= 'Password'
        input(type='text', name='password', value='')
        input(type='submit', value='Submit')
    