* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9fafb;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both
}

a {
  color: black;
}

.common {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  width: 100%;
}

input, textarea, button {
  font-size: 18px;
  line-height: 18px;
  border: 1px solid #96938f;
  border-radius: 5px;
  background-image: none;
  box-shadow: none;
  padding: 10px;
  background-color: rgba(255,255,255,.2);
}

input, textarea {
  width: 100%;
}

button {
  margin: 30px 0 0;
  background-color: #3a3a35;
  color: #e1e0ef;
  text-transform: uppercase;
}
.moduleField {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.7);
  transition: all .5s;
}

.moduleWrapper {
  color: black;
  width: 450px;
  padding: 40px;
  background-color: #e1e0ef;
  transition: all .2s;
  border-radius: 25px;
}

.moduleWrapper textarea {
  height: 110px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.inverseButton {
  margin: 30px 10px 0;
  background-color: #e1e0ef;
  color: #3a3a35;
  text-transform: uppercase;
}
.cardsWrapper {
  max-width: 1100px;
	margin: 0 auto;
}

.itemWrapper {
  width: 350px;
  margin: 20px auto;
  background-color: #e1e0ef;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.createItemWrapper {
  cursor: pointer;
  color: #827f88;
  width: 330px;
  margin: 20px auto;
  background-color: #f5f5f7;
  border-radius: 15px;
  padding: 5px 20px;
  text-align: center;
  transition: all .5s;
}

.createItemWrapper a {
  color: #827f88;
  transition: all .5s;
}

.createItemWrapper:hover {
  width: 350px;
  background-color: #e1e0ef;
  transition: all .2s;
}

.createItemWrapper:hover a {
  color: black;
  transition: all .2s;
}

.createdUpdatedWrapper {
  margin-top: 20px;
}

.createdUpdated {
  font-size: 11px;
  color: #766975;
}

.createdUpdated span {

}
.editCircle {
  user-select: none;
  width: 36px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  background-color: #3f51b5;
  color: wheat;
  position: absolute;
  right: 18px;
  top: 0;
  border-radius: 18px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transform: scale(.4);
  transition: all .5s;
}

.editCircle:hover {
  transform: scale(1);
  box-shadow: 2px 2px 7px rgba(0,0,0,.3);
  transition: all .2s;
  z-index: 999;
}

.editCircle:active {
  transform: scale(.8);
  transition: all .2s;
}
.deleteCircle {
  user-select: none;
  width: 36px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  background-color: brown;
  color: wheat;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 18px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transform: scale(.4);
  transition: all .5s;
}

.deleteCircle:hover {
  transform: scale(1);
  box-shadow: 2px 2px 7px rgba(0,0,0,.3);
  transition: all .2s;
  z-index: 999;
}

.deleteCircle:active {
  transform: scale(.8);
  transition: all .2s;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #3a3a35;
  padding: 40px;
}

.headerContainer .headerText {
  font-size: 36px;
  color: #e1e0ef;
  margin: 15px 0;
  user-select: none;
}

.headerContainer .cubeDB {
  width: 24px;
  background-color: #e1e0ef;
  color: #3a3a35;
  border-radius: 3px;
}

.spanColor {
  color: #a2aba8;
  text-transform: uppercase;
}
.searchContainer {
  text-align: right;
}

.inverseButton {
  margin: 30px 10px 0;
  background-color: #e1e0ef;
  color: #3a3a35;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map*/